<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>What food ? - Toate retele pe care le doresti!</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="myaccountPage.css">
	</head>
	<body>
		<div class="viewgrid">
			<div class="navbar">
				<div class="navbar-left">
					<a href="#"><img src="logo3.png" alt="logo picture"></a>
				</div>
				<div class="navbar-right">
					<div class="user-info">
						<div class="avatar-picture"><img src="user.png" alt="u" style="width: 100%; height:100%;"></div>
						<div class="username"><p>Username</p></div>
						<div class="redirect"><a href="#">My Page</a></div>
					</div>
				</div> 
			</div>
			<div class="main-content">
				<button class="button-account button-style" onclick = "showTab('button-account','requested-content-account')">
					Account
				</button>
				<button class="button-history button-style" onclick = "showTab('button-history','requested-content-history')">
					Search History
				</button>
				<button class="button-added button-style" onclick = "showTab('button-added','requested-content-added')">
					Added recipies
				</button>
				<button class="button-tried button-style" onclick = "showTab('button-tried','requested-content-tried')">
					Made recipes
				</button>
				<div class="requested-content-account">
					<form> 
						<div class="form-grid">
						  <h1 class="attention">Account modification page!</h1>
    					  <p class="details">Please modify in the form the details that you want to change and press the submit button!</p>
  						  <input type="text" id="firstname" name="firstname" placeholder="Enter New Firstname">
  						  <input type="text" id="lastname" name="lastname" placeholder="Enter New Lastname">
  						  <input type="text" id="username" name="username" placeholder="Enter New Username">
  						  <input type="text" id="password" name="password" placeholder="Enter New Password">
  						  <input type="email" id="email" name="email" placeholder="Enter new Email">
  						  <span id="avatarphoto">Select New Avatar Photo</span>
						  <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
						  <span id="birthselect">Select New Birth Date</span>
  						  <input type="date" id="birthdate">					  
  						  <input type="button" id="deleteAccount" name="deleteAccount" value="Delete Account">
  						  <input id="submitbtn" type="submit" value="Submit">
  						</div>
					</form>
				</div>
				<div class="requested-content-history">
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>
					<div class="str"><span>Shaorma cu castraveti</span><a href="#">Link</a></div>	
				</div>
				<div class="requested-content-added">
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="hamburger.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe1.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe2.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe3.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="hamburger.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe6.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe9.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe1.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe4.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe8.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="hamburger.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe5.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe3.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe7.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe6.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe1.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
				</div>
				<div class="requested-content-tried">
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="hamburger.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe1.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe2.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe3.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="hamburger.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe6.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe9.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe1.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe4.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe8.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="hamburger.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe5.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe3.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe7.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe6.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
					<div class="card"><div class="flip-card-inner"><div class="flip-card-front"><img src="Recipe1.jpg"  alt="hamburgerimg"></div><div class="flip-card-back"><p>Food name</p> <a href="#">Link</a></div></div></div>
				</div>
			</div>
			<div class = "footer"> 
	    		<div class="center">
					<a href = "https://www.facebook.com/What-The-Food-104673701720853" class = "fa fa-facebook"></a>
	        		<a href = "https://twitter.com/WhatTheFood13" class = "fa fa-twitter"></a>
	        		<a href = "https://www.instagram.com/instawhatthefood/" class = "fa fa-instagram"></a>
	    		</div>
	    		<div class="right-side">
	    			<p class="copyright"> © 2021 WhaF. No rights reserved. </p>
	    			<a class="termeni_si_conditii" href="#">Terms and conditions.</a>
	    		</div>
	    	</div>
    	</div>
    	<script src = "myaccountPage.js"></script>
	</body>
</html>