`<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>What food ? - Toate retele pe care le doresti!</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="/recipePage.css">
	</head>
	<body>
		<div class="viewgrid">
			<div class="logoimg">
				<a href="/feedPage.html"><img src="/logo3.png" alt="logo picture"></a>
			</div>
			<div class="content">
				<div class="title">
					<h1>${pageName}</h1>
				</div>
				<img class="mainpicture" src="${recipePhoto}.jpg" alt="ceva">
				<div class="info">
					<p><strong>Timp preparare: </strong>${preperationTime} minute.</p> 
					<p><strong>Timp finalizare: </strong>${finalizationTime} minute.</p> 
					<p><strong>Categorie: </strong>${categorie}</p> 
					<p><strong>Dificultate reteta: </strong>${dificultate}</p>
					<p><strong>Numar ingrediente: </strong>${nrIngrediente}</p> 
					<p><strong>Numar instructiuni: </strong>${nrInstructiuni}</p>
				</div>
				<div class="titlu-text">
					<strong>Ingrediente</strong>
				</div>
				<ul>
					${ingrediente}
				</ul>
				<div class="titlu-text">
					<strong>Pasi preparare</strong>
				</div>
				<ol>
					${instructiuni}
				</ol>
				<form>
					${formItems}
				</form>
				<div class = "footer"> 
		    		<div class="center">
						<a href = "https://www.facebook.com/What-The-Food-104673701720853" class = "fa fa-facebook"></a>
		        		<a href = "https://twitter.com/WhatTheFood13" class = "fa fa-twitter"></a>
		        		<a href = "https://www.instagram.com/instawhatthefood/" class = "fa fa-instagram"></a>
		    		</div>
		    		<div class="right-side">
		    			<p class="copyright"> © 2021 WhaF. No rights reserved. </p>
		    			<a class="termeni_si_conditii" href="../Terms-Policy-Page/terms-and-policy.html">Terms and conditions.</a>
		    		</div>
		    	</div>
			</div>

    	</div>
		<script src = "recipePage.js"></script>
	</body>
</html>`