* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(255, 242, 242);
}

.grid-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.45fr 0.5fr 3fr;
  grid-template-rows: 1fr 3fr 1fr 3.5fr 0.5fr;
  overflow: hidden;
}

.grid-wrapper .navbar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  background-color: rgb(209, 165, 165);
}

.grid-wrapper .navbar .navbar-left {
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: center;
  height: 100%;
  width: 100%;
}

.grid-wrapper .navbar .navbar-left a {
  margin-left: 30px;
  display: block;
  max-width: 40%;
  max-height: 100%;
}

.grid-wrapper .navbar .navbar-left a img {
  width: 20vw;
  height: 10vh;
}

.grid-wrapper .navbar .navbar-right {
  box-sizing: border-box;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.grid-wrapper .navbar .navbar-right .user-info {
  width: 95%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 2%;
  padding: 1%;
}

.grid-wrapper .navbar .navbar-right .user-info .avatar-picture {
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  width: 3vw;
  height: 8vh;
  margin-left: 10%;
}

.grid-wrapper .navbar .navbar-right .user-info .avatar-picture img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
  margin: 0px;
}

.grid-wrapper .navbar .navbar-right .user-info .username {
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.grid-wrapper .navbar .navbar-right .user-info .username p {
  object-fit: contain;
  padding: 0px;
  margin: 0px;
  font-family: "Dela Gothic One", cursive;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8vw;
  color: rgb(10, 7, 7);
}

.grid-wrapper .navbar .navbar-right .user-info .user-settings {
  box-sizing: border-box;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-page {
  font-family: "Dela Gothic One", cursive;
  font-size: 0.75vw;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  background-color: #bd5d5d;
  border: none;
  width: 5vw;
  height: 6vh;
}

.my-page:hover {
  background-color: black;
}

.grid-wrapper .navbar-center {
  box-sizing: border-box;
}

.button-menu {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
}

.button-format {
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr;
  grid-template-rows: 0.75fr 5fr 2fr;
  margin-left: 10vh;
  width: 100%;
  height: 100%;
}

.button-wrapper {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.format {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
}

.format .menu-button {
  background-color: rgb(201, 149, 149);
  color: rgb(255, 255, 255);
  padding: 22px 16px;
  width: 15vw;
  height: 13vh;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.format .menu-button:hover {
  background-color: rgb(0, 0, 0);
}

.content {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  display: none;
  height: 100%;
  width: 100%;
}

.content .settings-wrapper {
  display: grid;
  grid-template-columns: 0.15fr 1fr 0.1fr;
  grid-template-rows: 0.4fr 4fr 2fr;
  position: relative;
  width: 100%;
  height: 100%;
}

.settings-format {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  box-shadow: 15px 15px 15px rgb(212, 160, 160);
}

form {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  display: block;
}

form .form-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 5px;
}

form .form-grid input {
  font-size: 15px;
  display: block;
  background-color: white;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  width: 80%;
  height: 50%;
  box-shadow: 4px 4px 10px #d08484;
  padding: 10px;
  margin: auto;
}

form .form-grid .attention {
  font-family: "Dela Gothic One", cursive;
  font-size: 30px;
  color: rgb(0, 0, 0);
  position: relative;
  display: block;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

form .form-grid .details {
  font-family: "Dela Gothic One", cursive;
  font-size: 15px;
  color: rgb(5, 5, 5);
  display: block;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}

form .form-grid input#firstname {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

form .form-grid input#lastname {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}

form .form-grid input#username {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
}

form .form-grid input#password {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 10;
}

form .form-grid input#email {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 12;
}

form .form-grid span#avatarphoto {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 14;
  display: block;
  width: 80%;
  height: 50%;
  margin: auto;
  padding: 10px;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: rgb(212, 160, 160);
  font-family: "Dela Gothic One", cursive;
  font-size: 20px;
}

form .form-grid input#avatar {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 14;
}

form .form-grid span#birthselect {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 14;
  grid-row-end: 16;
  display: block;
  width: 80%;
  height: 50%;
  margin: auto;
  padding: 10px;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: rgb(212, 160, 160);
  font-family: "Dela Gothic One", cursive;
  font-size: 20px;
}

form .form-grid input#birthdate {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 14;
  grid-row-end: 16;
  text-align: center;
}

form .form-grid input#deleteAccount {
  display: block;
  background-color: #a74545;
  color: white;
  border: none;
  cursor: pointer;
  grid-row-start: 18;
  grid-row-end: 20;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
}

form .form-grid input#deleteAccount:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}

form .form-grid input#submitbtn {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 18;
  grid-row-end: 20;
  text-align: center;
  height: 100%;
  background-color: #a74545;
  color: white;
  cursor: pointer;
}

form .form-grid input#submitbtn:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}

.content .history-wrapper {
  display: grid;
  grid-template-columns: 0.15fr 1fr 0.1fr;
  grid-template-rows: 0.5fr 4fr 2fr;
}

.history-format {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  box-shadow: 15px 15px 15px rgb(212, 160, 160);
}

div.str {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  height: 100px;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
}

div.str span {
  box-sizing: border-box;
  width: 85%;
  height: 85%;
  margin: 5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #cf616a;
}

div.str a {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  margin: 5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  color: #cf616a;
  border-radius: 15px;
}

div.str a:hover {
  background-color: #cf616a;
  color: white;
}

.split-previous {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.85fr 2fr;
}

.previous {
  grid-column-start: 2;
  grid-column-end: 3;
}

.split-next {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.05fr 1fr;
}

.next {
  grid-column-start: 2;
  grid-column-end: 3;
}

.default-buttons {
  font-family: "Dela Gothic One", cursive;
  font-size: 1vw;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  background-color: #bd5d5d;
  border: none;
  width: 10vw;
  height: 7vh;
}

.default-buttons:hover {
  background-color: rgb(212, 160, 160);
  color: #ffffff;
}

.content .added-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.1fr;
  grid-template-rows: 0.6fr 4fr 2fr;
}

.added-format {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  box-shadow: 15px 15px 15px rgb(212, 160, 160);
}

.added-recipes {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 15px;
}

.item {
  width: 21vw;
  height: 30vh;
  object-fit: cover;
}

.recipes-previous {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}

.button-previous {
  grid-column-start: 2;
  grid-column-end: 3;
}

.recipes-next {
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}

.button-next {
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-wrapper .grid-footer {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  height: 100%;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  left: 0;
  bottom: 0;
  background-color: rgb(212, 160, 160);
  color: white;
  text-align: center;
}

.footer div.center {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer div.right {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.terms {
  margin-right: 15px;
  text-decoration: none;
  color: white;
}

.terms:hover {
  color: #a74545;
}

.copyright {
  margin-right: 15px;
}

.fa {
  padding: 1vh;
  font-size: 3vh;
  width: 3vh;
  text-align: center;
  text-decoration: none;
  margin: 1vh;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}
