* {
  padding: 0px;
  margin: 0px;
}

.delete-button
{
  margin-top: 15px;
  font-family: 'Dela Gothic One', cursive;
	font-size: 1vw;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  background-color: #bd5d5d;
  border: none;
  width: 10vw;
  height: 7vh;
}

.delete-button:hover 
{
  background-color: rgb(212, 160, 160);
  color: #ffffff;
}

.viewgrid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 9.25fr;
  overflow-y: auto;
}

.viewgrid .navbar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(212, 160, 160);
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.viewgrid .navbar .navbar-left {
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.viewgrid .navbar .navbar-left a {
  margin-left: 30px;
  display: block;
  max-width: calc(50% + 15px);
  max-height: calc(90% + 30px);
}

.viewgrid .navbar .navbar-left a img {
  width: 20vw;
	height: 10vh;
}

.viewgrid .navbar-center {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .viewgrid .logoimg a {
    width: 50%;
  }
}

.viewgrid .logoimg a img {
  display: block;
  width: 100%;
  height: 100%;
}

.viewgrid .content {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  box-sizing: border-box;
  overflow-y: auto;
}

.viewgrid .content .item {
  box-sizing: border-box;
  display: block;
  width: 40px;
  margin: auto;
  height: 300px;
  border: 3px solid blue;
}

.viewgrid .content img.mainpicture {
  box-sizing: border-box;
  display: block;
  width: 70%;
  margin: auto;
  height: 70%;
  margin-bottom: 7%;
}

.viewgrid .content .title {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

.viewgrid .content .title h1 {
  font-size: 100%;
  font-family: "Fredoka One", cursive;
  text-align: center;
}

.viewgrid .content .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: auto;
  font-size: 3vw;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.viewgrid .content .info p {
  padding-bottom: 20px;
}

.viewgrid .content .time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 10%;
  font-size: 3vw;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.viewgrid .content .titlu-text {
  width: 70%;
  height: 10%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 4vw;
  text-align: center;
}

.viewgrid .content ul {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  display: block;
  list-style-position: inside;
  list-style-type: none;
}

.viewgrid .content ul li {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewgrid .content ul li div {
  display: inline-block;
  width: 90%;
  height: 100%;
  margin: 0px;
  font-size: 1.5vw;
  padding: 0px;
  color: rgb(51, 51, 51);
  padding-left: 2%;
}

.viewgrid .content ul li img {
  display: inline-block;
  width: 7%;
  height: 5%;
  margin: 0px;
  padding: 0px;
}

.viewgrid .content ol {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  display: block;
  list-style-position: inside;
  list-style-type: none;
}

.viewgrid .content ol li {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.viewgrid .content ol li img {
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewgrid .content ol li div {
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: black;
  margin-left: 10%;
}

.viewgrid .footer {
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  left: 0;
  bottom: 0;
  background-color: rgb(212, 160, 160);
  color: white;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.viewgrid .footer div.center {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewgrid .footer div.right-side {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.viewgrid .termeni_si_conditii {
  margin-right: 15px;
  text-decoration: none;
  color: white;
}

.viewgrid .termeni_si_conditii:hover {
  color: #a74545;
}

.viewgrid .copyright {
  margin-right: 15px;
}

.viewgrid .footer div.center .fa {
  padding: 1vh;
  font-size: 3vh;
  width: 3vh;
  text-align: center;
  text-decoration: none;
  margin: 1vh;
  border-radius: 50%;
}

.viewgrid .footer div.center .fa:hover {
  opacity: 0.7;
}

.viewgrid .footer div.center .fa-facebook {
  color: white;
}

.viewgrid .footer div.center .fa-twitter {
  color: white;
}

.viewgrid .footer div.center .fa-instagram {
  color: white;
}

.viewgrid .navbar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(212, 160, 160);
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.viewgrid .navbar .navbar-left {
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.viewgrid .navbar .navbar-left a {
  margin-left: 30px;
  display: block;
  max-width: 40%;
  max-height: 100%;
}

.viewgrid .navbar .navbar-left a img {
  max-width: 100%;
  max-height: 100%;
}

.viewgrid .navbar .navbar-right {
  box-sizing: border-box;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.viewgrid .navbar .navbar-right .user-info {
  width: 95%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2%;
  padding: 1%;
  background-color: #b84d69;
}

.viewgrid .navbar .navbar-right .user-info .avatar-picture {
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("user.png");
  background-repeat: no-repeat;
  margin-left: 10%;
}

.viewgrid .navbar .navbar-right .user-info .avatar-picture img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
  margin: 0px;
}

.viewgrid .navbar .navbar-right .user-info .username {
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewgrid .navbar .navbar-right .user-info .username p {
  object-fit: contain;
  padding: 0px;
  margin: 0px;
  font-family: "Dela Gothic One", cursive;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8vw;
  color: white;
}

.viewgrid .navbar .navbar-right .user-info .redirect {
  box-sizing: border-box;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e49756;
}

.viewgrid .navbar .navbar-right .user-info .redirect a {
  font-family: "Dela Gothic One", cursive;
  font-size: 0.75vw;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: white;
}

.viewgrid .navbar-center {
  box-sizing: border-box;
}

#tried {
  display: block;
  width: 20%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid white;
  background-color: rgb(212, 160, 160);
  font-size: 20px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

#tried:hover {
  cursor: pointer;
}

form {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form input {
  display: block;
  width: 40%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Vollkorn", serif;
  text-align: center;
  border: 1px solid darkgray;
  margin-top: 0px;
  margin-bottom: 15px;
}

form input:focus {
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
}

form input:hover {
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .viewgrid .content .footer div.right-side {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    padding: 0px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .viewgrid .content .footer div.center {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .viewgrid .content .footer {
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: rgb(212, 160, 160);
    grid-gap: 0px;
    color: white;
    text-align: center;
    padding: 0px;
    position: static;
    margin: 0;
  }

  .viewgrid .content .footer .termeni_si_conditii:hover {
    color: #921ccd;
  }

  .viewgrid .content .footer div.right-side p {
    width: 100%;
  }

  .viewgrid .content .footer div.right-side .termeni_si_conditii {
    display: block;
    width: auto;
    margin: 0px;
    text-decoration: none;
    color: white;
  }
  .viewgrid .content .footer div.right-side .termeni_si_conditii:hover {
    color: #921ccd;
  }

  .viewgrid .content .footer div.right-side .copyright {
    display: block;
    width: 100%;
    margin: 0px;
  }
  .viewgrid .content img.mainpicture {
    width: 90%;
  }
  .viewgrid .content .title {
    font-size: 7vw;
  }
  .viewgrid .content .time {
    width: 90%;
    font-size: 5vw;
  }
  .viewgrid .content .titlu-text {
    width: 90%;
    font-size: 6vw;
  }
  .viewgrid .content ul {
    width: 90%;
  }

  .viewgrid .content ul li img {
    width: 14%;
    height: 10%;
  }
  .viewgrid .content ul li div {
    display: inline-block;
    width: 90%;
    height: 100%;
    margin: 0px;
    font-size: 3vw;
    padding: 0px;
    padding-left: 2%;
  }
  .viewgrid .content ol {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    display: block;
    list-style-position: inside;
    list-style-type: none;
  }

  .viewgrid .content ol li {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }

  .viewgrid .content ol li img {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .viewgrid .content ol li div {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: black;
    margin-left: 10%;
  }
}

@media screen and (min-width: 451px) and (max-width: 1025px) {
  .viewgrid .content .footer div.right-side {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    padding: 0px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .viewgrid .content .footer div.center {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .viewgrid .content .footer {
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: rgb(212, 160, 160);
    grid-gap: 0px;
    color: white;
    text-align: center;
    padding: 0px;
    position: relative;
    margin: 0;
  }

  .viewgrid .content .footer .termeni_si_conditii:hover {
    color: #921ccd;
  }

  .viewgrid .content .footer div.right-side p {
    width: 100%;
  }

  .viewgrid .content .footer div.right-side .termeni_si_conditii {
    display: block;
    width: auto;
    margin: 0px;
    text-decoration: none;
    color: white;
  }
  .viewgrid .content .footer div.right-side .termeni_si_conditii:hover {
    color: #921ccd;
  }

  .viewgrid .content .footer div.right-side .copyright {
    display: block;
    width: 100%;
    margin: 0px;
  }
  .viewgrid .content img.mainpicture {
    width: 70%;
  }
  .viewgrid .content .title {
    font-size: 7vw;
  }
  .viewgrid .content .time {
    width: 70%;
    font-size: 5vw;
  }
  .viewgrid .content .titlu-text {
    width: 70%;
    font-size: 6vw;
  }
  .viewgrid .content ul {
    width: 70%;
  }

  .viewgrid .content ul li img {
    width: 14%;
    height: 10%;
  }
  .viewgrid .content ul li div {
    display: inline-block;
    width: 70%;
    height: 100%;
    margin: 0px;
    font-size: 3vw;
    padding: 0px;
    padding-left: 2%;
  }
  .viewgrid .content ol {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    display: block;
    list-style-position: inside;
    list-style-type: none;
  }

  .viewgrid .content ol li {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }

  .viewgrid .content ol li img {
    width: 100%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .viewgrid .content ol li div {
    width: 100%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: black;
    margin-left: 10%;
  }
}
