`<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title> Add a recipe </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href = "https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel = "stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="addrecipePage.css">
	</head>
	<body>
		<div class="viewgrid">
			<div class="navbar">
				<div class="navbar-left">
					<a href="/feedPage.html"><img src="/Logo-final2.png" alt="logo picture"></a>
				</div>
				<div class="navbar-right">
					<div class="user-info">
						<div class="avatar-picture"><a href="/settingsPage.html"><img src="/avatar-picture.png" alt="u"></a></div>
						<div class="username"><p>${username}</p></div> 
						<div class="redirect">
							<button class = "my-page" onclick = "logout()"> Logout </button>
						</div>
					</div>
				</div> 
			</div>
			<div class="main-content">
				<form method="POST" id = "formInstr" enctype="multipart/form-data">
					<div>Completeaza urmatorul formular pentru a-ti posta reteta!</div>
  					<label for="numereteta">Numele retetei</label>
  					<input type="text" id="numereteta" name="numereteta" required = "true">
  					<label for="pozareteta">Poza retetei</label>
  					<input type="file" id="pozareteta" name="pozareteta" required = "true">
  					<label for="categorie">Categorie</label>
					<select id="categorie" name="categorie">
				        <option value="Breakfast">Breakfast</option>
				        <option value="Brunch">Brunch</option>
				        <option value="Lunch">Lunch</option>
						<option value="Snacks">Snacks</option>
						<option value="Dinner">Dinner</option>
						<option value="Soups">Soups</option>
						<option value="Salads">Salads</option>
						<option value="Main Dishes">Main Dishes</option>
						<option value="Pasta">Pasta</option>
						<option value="Seafood">Seafood</option>
						<option value="Pizza">Pizza</option>
						<option value="Burgers">Burgers</option>
						<option value="Vegetarian">Vegetarian</option>
						<option value="Vegan">Vegan</option>
						<option value="Sides">Sides</option>
						<option value="Sauces">Sauces</option>
						<option value="Desserts">Desserts</option>
						<option value="Drinks">Drinks</option>
			      	</select>
			      	<label for="nringrediente">Numar ingrediente</label>
					${nringredients}
					<div class="ingredinte_wrapper">
						<label for="1_ingredient">1. Ingredient</label>
						<input type="text" id="1_ingredient" name="1_ingredient" required = "true">
					</div>   
  					<label for="preptime">Timp preparare(min)</label>
  					<input type="number" id="preptime" name="preptime" required = "true">		
  					<label for="fintime">Timp finalizare(min)</label>
  					<input type="number" id="fintime" name="fintime" required = "true">	
  					<label for="nrinstructiuni">Numar instructiuni</label>	
  					${nrinstructions}
					<div class="instructiuni_wrapper">
						<label for="instructiune1">Instructiunea 1</label>	
						<textarea id="instructiune1" name="instructiune1" required = "true"></textarea>
						<label for="pozainstructiunea1">Poza instructiunea 1</label>
						<input type="file" id="pozainstructiunea1" name="pozainstructiunea1" required = "true">
					</div>   
					<label for="dificultate">Dificultate</label>
					<select id="dificultate" name="dificultate">
				        <option value="Easy">Easy</option>
				        <option value="Medium">Medium</option>
				        <option value="Hard">Hard</option>
			      	</select>
			      	<button id="submitbtn" type="button" onclick="sendRecipeToDatabase()">Submit</button>
				</form>
				<div class = "footer"> 
		    		<div class="center">
						<a href = "https://www.facebook.com/What-The-Food-104673701720853" class = "fa fa-facebook"></a>
		        		<a href = "https://twitter.com/WhatTheFood13" class = "fa fa-twitter"></a>
		        		<a href = "https://www.instagram.com/instawhatthefood/" class = "fa fa-instagram"></a>
		    		</div>
		    		<div class="right-side">
		    			<p class="copyright"> © 2021 WhaF. No rights reserved. </p>
		    			<a class="termeni_si_conditii" href="/termsPolicy.html">Terms and conditions.</a>
		    		</div>
	    		</div>
			</div>
    	</div>
    	<script src = "addrecipePage.js"></script>
	</body>
</html>`