`<!DOCTYPE html>
<html>
<head>
    <title> Home Page </title>

    <meta charset = "UTF-8">

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel = "preconnect" href = "https://fonts.gstatic.com">

	<link href = "https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel = "stylesheet">

    <link href = "https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel = "stylesheet">

    <link href = "https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel = "stylesheet">

    <link href = "https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel = "stylesheet">

    <link rel = "stylesheet" type = "text/css" href = "feedPage.css">
</head>

<body>
    <div class = "grid-wrapper">
        <div class = "navbar"> 
            <div class = "navbar-center">
                <a href = "/settingsPage.html">
                    <img src = "/Logo-final1.png" alt = "Logo">
                </a>
            </div>

            <div class = "navbar-right">
                <div class = "user-info">
                    <div class = "avatar-picture">
                        <a href = "/settingsPage.html">
                            ${avatar}
                        </a>
                    </div>

                    <div class = "username">
                        <p> ${username} </p>
                    </div>

                    <div class = "user-settings">
                        ${logout}
                    </div>
                </div>
            </div> 
        </div>
        
        <div class = "menu">
            <div class = "home">
                <button class = "grid-button" onclick = "openFilter()"> Home </button>
            </div>

            <div class = "categories">
                    <button class = "grid-button" onclick = "openPage('Categories')"> Categories </button>
            </div>

            <div class = "add-recipe">
                <button onclick = "window.location.href = '/addrecipePage.html'" class = "grid-button"> Add Recipe </button>
            </div>

            <div class = "rankings">
                <button class = "grid-button" onclick = "openPage('Rankings')"> Rankings </button>
            </div>

            <div class = "search">
                <button class = "grid-button" onclick = "openPage('Search')"> 
                        <i class = "fa fa-search"></i>
                </button>
            </div>
        </div>
        
        <div id = "Default" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "Def" class = "wrapper">
                        ${defaultRecipes}
                        <!--
                        <div class = "split-previous"> 
                            <div class = "previous">
                                <button class = "default-buttons" onclick = "previous()"> &laquo; Previous </button>
                            </div> 
                        </div> -->
                    </div>
                </div>
            </div>
        </div> 

        <div id = "Categories" class = "content">
            <div class = "format-wrapper"> 
                <div class = "format">
                    <div class = "categories-wrapper">
                        <button class = "categories-button" onclick = "openPage('Breakfast')"> Breakfast </button>

                        <button class = "categories-button" onclick = "openPage('Brunch')"> Brunch </button>
                        
                        <button class = "categories-button" onclick = "openPage('Lunch')"> Lunch </button>

                        <button class = "categories-button" onclick = "openPage('Snacks')"> Snacks </button>
                        
                        <button class = "categories-button" onclick = "openPage('Dinner')"> Dinner </button>

                        <button class = "categories-button" onclick = "openPage('Soups')"> Soups </button>

                        <button class = "categories-button" onclick = "openPage('Salads')"> Salads </button>

                        <button class = "categories-button" onclick = "openPage('Main')"> Main Dishes </button>

                        <button class = "categories-button" onclick = "openPage('Pasta')"> Pasta </button>

                        <button class = "categories-button" onclick = "openPage('Seafood')"> Seafood </button>

                        <button class = "categories-button" onclick = "openPage('Pizza')"> Pizza </button>

                        <button class = "categories-button" onclick = "openPage('Burgers')"> Burgers </button>

                        <button class = "categories-button" onclick = "openPage('Vegetarian')"> Vegetarian </button>

                        <button class = "categories-button" onclick = "openPage('Vegan')"> Vegan </button>

                        <button class = "categories-button" onclick = "openPage('Sides')"> Sides </button>

                        <button class = "categories-button" onclick = "openPage('Sauces')"> Sauces </button>

                        <button class = "categories-button" onclick = "openPage('Desserts')"> Desserts </button>

                        <button class = "categories-button" onclick = "openPage('Drinks')"> Drinks </button>
                    </div> 
                </div> 
            </div>
        </div>

        <div id = "Rankings" class = "content">
            <div class = "format1-wrapper"> 
                <div class = "format1">
                    <div class = "rankings-wrapper">
                        <button class = "ranking-button" onclick = "openPage('PopularR')"> Most Popular Recipes </button>

                        <button class = "ranking-button" onclick = "openPage('PopularI')"> Most Popular Ingredients </button>

                        <button class = "ranking-button" onclick = "openPage('AvoidedI')"> Most Avoided Ingredients </button>
                    </div>
                </div>
            </div>
        </div>

        <div id = "Breakfast" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${breakfast}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Brunch" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${brunch}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Lunch" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${lunch}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Snacks" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${snacks}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Dinner" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${dinner}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Soups" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${soups}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Salads" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${salads}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Main" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${main}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Pasta" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${pasta}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Seafood" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${seafood}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Pizza" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${pizza}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Burgers" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${burgers}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Vegetarian" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${vegetarian}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Vegan" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${vegan}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Sides" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${sides}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Sauces" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${sauces}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Desserts" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${desserts}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Drinks" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div class = "search-wrapper">
                        ${drinks}
                    </div>
                </div>
            </div>
        </div>

        <div id = "PopularR" class = "content">
            <div class = "table-wrapper"> 
                <div class = "table-format">
                    <table>
                        <thead>
                            <tr>
                                <th> Rank </th>

                                <th> Recipe Name </th>

                                <th> Category </th>

                                <th> Recipe Author </th>
                            </tr>
                        </thead>

                        <tbody>
                            ${popularR}
                        </tbody>
                    </table>

                    <div class = "export"> 
                        <div class = "export-csv">
                            <div class = "split-csv">
                                <button class = "default-buttons" onclick = "exportCSV('popularRecipes.csv', '#PopularR')"> Export CSV </button>
                            </div>
                        </div> 

                        <div class = "export-json">
                            <div class = "split-json">
                                <button class = "default-buttons" onclick = "exportJSON('popularRecipes.json', '#PopularR')"> Export JSON </button>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <div id = "PopularI" class = "content">
            <div class = "table-wrapper"> 
                <div class = "table-format">
                    <table>
                        <thead>
                            <tr>
                                <th> Rank </th>

                                <th> Ingredient Name </th>

                                <th> Number Of Recipes Used In </th>
                            </tr>
                        </thead>

                        <tbody>
                            ${popularI}
                        </tbody>
                    </table>

                    <div class = "export"> 
                        <div class = "export-csv">
                            <div class = "split-csv">
                                <button class = "default-buttons" onclick = "exportCSV('popularIngredients.csv', '#PopularI')"> Export CSV </button>
                            </div>
                        </div> 

                        <div class = "export-json">
                            <div class = "split-json">
                                <button class = "default-buttons" onclick = "exportJSON('popularIngredients.json', '#PopularI')"> Export JSON </button>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <div id = "AvoidedI" class = "content">
            <div class = "table-wrapper"> 
                <div class = "table-format">
                    <table>
                        <thead>
                            <tr>
                                <th> Rank </th>

                                <th> Ingredient Name </th>
                            </tr>
                        </thead>

                        <tbody>
                            ${unwantedI}
                        </tbody>

                        <div class = "export"> 
                            <div class = "export-csv">
                                <div class = "split-csv">
                                    <button class = "default-buttons" onclick = "exportCSV('unwantedIngredients.csv', '#AvoidedI')"> Export CSV </button>
                                </div>
                            </div> 
    
                            <div class = "export-json">
                                <div class = "split-json">
                                    <button class = "default-buttons" onclick = "exportJSON('unwantedIngredients.json', '#AvoidedI')"> Export JSON </button>
                                </div>
                            </div> 
                        </div>
                    </table>
                </div>
            </div>
        </div>

        <div id = "Filter" class = "content-filter">
            <div class = "filtering-wrapper"> 
                <div class = "filter-format">
                    <button class = "filter-button" onclick = "openPopularity('Popularity')"> Popularity </button>
                    <br>

                    <button class = "filter-button" onclick = "openPrepping('Prepping')"> Prepping Time </button>
                    <br>
                    
                    <button class = "filter-button" onclick = "openFinal('Final')"> Total Time </button>
                    <br>

                    <button class = "filter-button" onclick = "openDiff('Diff')"> Difficulty </button>
                    <br>

                    <button class = "filter-button" onclick = "openDefault('Default')"> Most recent </button>
                    <br>

                    <button class = "filter-button" onclick = "openAZ('Alphabetic')"> A - Z </button>
                    <br>
                </div>
            </div>
        </div>

        <div id = "FilterSearch" class = "content-filter">
            <div class = "filtering-wrapper"> 
                <div class = "filter-format">
                    <button class = "filter-button" onclick = "popularity('SearchP')"> Popularity </button>
                    <br>

                    <button class = "filter-button" onclick = "prepping('SearchPr')"> Prepping Time </button>
                    <br>
                    
                    <button class = "filter-button" onclick = "final('SearchF')"> Total Time </button>
                    <br>

                    <button class = "filter-button" onclick = "diff('SearchD')"> Difficulty </button>
                    <br>
                </div>
            </div>
        </div>

        <div id = "SearchP" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "PopS" class = "wrapper">
                        ${filtered}
                    </div>
                </div>
            </div>
        </div>

        <div id = "SearchPr" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "PrepS" class = "wrapper">
                        ${filtered}
                    </div>
                </div>
            </div>
        </div>

        <div id = "SearchF" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "FinalS" class = "wrapper">
                        ${filtered}
                    </div>
                </div>
            </div>
        </div>

        <div id = "SearchD" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "DiffS" class = "wrapper">
                        ${filtered}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Popularity" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "Pop" class = "wrapper">
                        ${popularity}
                    </div>
                </div>
            </div>
        </div> 

        <div id = "Prepping" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "Prepp" class = "wrapper">
                        ${prepping}
                    </div>
                </div>
            </div>
        </div> 

        <div id = "Final" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "Fi" class = "wrapper">
                        ${final}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Diff" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "Df" class = "wrapper">
                        ${diff}
                    </div>
                </div>
            </div>
        </div> 

        <div id = "Alphabetic" class = "default-recipes">
            <div class = "default-wrapper"> 
                <div class = "default-format">
                    <div id = "AZ" class = "wrapper">
                        ${alphabetic}
                    </div>
                </div>
            </div>
        </div>

        <div id = "Search" class = "content" onclick = "search()">
            <div class = "format3-wrapper"> 
                <div class = "format3">
                    <div class = "search-wrapper">
                        <form method = "POST" id = "searchRecipes" enctype = "multipart/form-data" class = "search-form">
                            <br>
                            <h1> <strong> Search </strong> </h1> <br>
    
                            <label for = "recipe"> Recipe Name: </label> 
    
                            <input type = "text" placeholder = "Enter Recipe Name" id = "recipe" name = "recipe">                            

                            <label for = "wanted"> Wanted Ingredients: </label> 
    
                            <input type = "text" placeholder = "Enter Wanted Ingredients" id = "wanted" name = "wanted">
                            <br><br> 

                            <label for = "undesired"> Undesired Ingredients: </label> 
    
                            <input type = "text" placeholder = "Enter Undesired Ingredients" id = "undesired" name = "undesired">

                            <label for = "difficulty"> Recipe Difficulty: </label> 
    
                            <input type = "text" placeholder = "Enter Recipe Difficulty" id = "difficulty" name = "difficulty">
                            <br><br> 

                            <label for = "prep"> Prepping Time: </label> 
    
                            <input type = "text" placeholder = "Enter Prepping Time" id = "prep" name = "prep">

                            <label for = "total"> Total Time: </label> 
    
                            <input type = "text" placeholder = "Enter Total Time" id = "total" name = "total">
                            <br><br> 

                            <label for = "category"> Recipe Category: </label> 
    
                            <input type = "text" placeholder = "Enter Recipe Category" id = "category" name = "category">
                            <br><br> 

                            <input onclick = "searchRecipes('SearchR')" type = "submit" value = "Search" id = "searchR">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id = "SearchR" class = "content">
            <div class = "format2-wrapper"> 
                <div class = "format2">
                    <div id = "RecipesS" class = "search-wrapper">
                        ${searched}
                    </div>
                </div>
            </div>
        </div>

        <div class = "grid-footer">
            <div class = "footer"> 
                <div class = "center">
                    <a href = "https://www.facebook.com/What-The-Food-104673701720853" class = "fa fa-facebook"> </a>
                    
                    <a href = "https://twitter.com/WhatTheFood13" class = "fa fa-twitter"> </a>
                    
                    <a href = "https://www.instagram.com/instawhatthefood/" class = "fa fa-instagram"> </a>
                </div>
        
                <div class = "right">
                    <p class = "copyright"> © 2021 WhaF. No rights reserved. </p>
                    
                    <a href = "/termsPolicy.html" class = "terms"> Terms and conditions. </a>
                </div>
            </div>
        </div>
    </div>

    <script src = "feedPage.js"></script>
</body>
</html>`