.viewgrid .footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100%;
    background-color: rgb(212, 160, 160);
    color: white;
    text-align: center;
}

.viewgrid .footer div.center {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewgrid .footer div.right-side {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.viewgrid .termeni_si_conditii {
    font-size: 1vw;
    vertical-align: middle;
    margin-right: 15px;
    text-decoration: none;
    color: white;
}

.viewgrid .termeni_si_conditii:hover {
    color: #921CCD;
}

.viewgrid .copyright {
    font-size: 1vw;
    vertical-align: middle;
    margin-right: 15px;
}

.viewgrid .footer div.center .fa {  
    padding: 0.5vw;
    width: 1.5vw;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: 0.5vw;
    border-radius: 50%;
}

.viewgrid .footer div.center .fa:hover {
    opacity: 0.7;
}

.viewgrid .footer div.center .fa-facebook {
    font-size: 1.5vw;
    background: #3B5998;
    color: white;
}

.viewgrid .footer div.center .fa-twitter {
    font-size: 1.5vw;
    background: #55ACEE;
    color: white;
}

.viewgrid .footer div.center .fa-instagram {
    font-size: 1.5vw;
    background: #125688;
    color: white;
}


