body {
	background-color: rgb(255, 224, 224);
}

* {
	padding: 0px;
	margin: 0px;
}

.viewgrid {
	position: fixed;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.75fr 8.5fr 0.75fr;
	overflow-y: auto;
}

.viewgrid .main-content {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.viewgrid .main-content .button-style {
    background-color: rgb(201, 149, 149);
    color: rgb(255, 255, 255);
    padding: 22px 16px;
    border: 1px solid white;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.viewgrid .main-content .button-style:hover	{
	background-color: rgb(26, 24, 24);
}

.viewgrid .main-content .button-style:active {
	background-color: rgb(26, 24, 24);
}

.viewgrid .main-content .button-account.button-style {
	display: block;
	width: 100%;
	height: 100%;
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 6;
}

.viewgrid .main-content .button-account.button-style.active	{
	background-color: rgb(26, 24, 24);
}

.viewgrid .main-content .button-history.button-style {
	display: block;
	width: 100%;
	height: 100%;
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 3;
	grid-column-end: 6;
}

.viewgrid .main-content .button-history.button-style.active	{
	background-color: rgb(26, 24, 24);
}

.viewgrid .main-content .button-added.button-style {
	display: block;
	width: 100%;
	height: 100%;
	grid-row-start: 6;
	grid-row-end: 7;
	grid-column-start: 3;
	grid-column-end: 6;
}

.viewgrid .main-content .button-added.button-style.active	{
	background-color: rgb(26, 24, 24);
}

.viewgrid .main-content .button-tried.button-style {
	display: block;
	width: 100%;
	height: 100%;
	grid-row-start: 7;
	grid-row-end: 8;
	grid-column-start: 3;
	grid-column-end: 6;
}

.viewgrid .main-content .button-tried.button-style.active	{
	background-color: rgb(26, 24, 24);
}

.viewgrid .main-content .requested-content-account{
	background-color: rgb(212, 160, 160);
	display: none;
	width: 100%;
	height: 100%;
	grid-column-start: 8;
	grid-column-end: 15;
	grid-row-start: 2;
	grid-row-end: 10;
	border: 1px solid black;
	border-radius: 15px;
	padding: 0px;
}


.viewgrid .main-content .requested-content-account form {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: block;
}

.viewgrid .main-content .requested-content-account form .form-grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(20, 1fr);
	grid-gap: 5px;
}



.viewgrid .main-content .requested-content-account form .form-grid input {
	font-size: 15px;
	display: block;
	background-color: white; 
	border: none;
	color: black;
    border-radius: 4px;
    width: 80%;
	height: 50%;
	box-shadow: 4px 4px 10px #d08484;
	padding: 10px;
	margin: auto;
}

.viewgrid .main-content .requested-content-account form .form-grid .attention {
	font-family: 'Dela Gothic One', cursive;
	font-size: 30px;
	color: white;
	position: relative;
	display: block;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.viewgrid .main-content .requested-content-account form .form-grid .details {
	font-family: 'Dela Gothic One', cursive;
	font-size: 15px;
	color: white;
	display: block;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}


.viewgrid .main-content .requested-content-account form .form-grid input#firstname {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 6;
}

.viewgrid .main-content .requested-content-account form .form-grid input#lastname {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 6;
}

.viewgrid .main-content .requested-content-account form .form-grid input#username {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 6;
	grid-row-end: 8;
}

.viewgrid .main-content .requested-content-account form .form-grid input#password {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 8;
	grid-row-end: 10;
}

.viewgrid .main-content .requested-content-account form .form-grid input#email {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 10;
	grid-row-end: 12;
}


.viewgrid .main-content .requested-content-account form .form-grid span#avatarphoto {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 12;
	grid-row-end: 14;
	display: block;
    width: 80%;
	height: 50%;
	margin: auto;
	padding: 10px;
	margin: auto;
	background-color: white;
	display: flex;
  	justify-content: flex-start;
  	align-items: center;
  	color: white;
  	background-color: rgb(212, 160, 160);
  	font-family: 'Dela Gothic One', cursive;
	font-size: 20px;
}

.viewgrid .main-content .requested-content-account form .form-grid input#avatar {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 12;
	grid-row-end: 14;
}

.viewgrid .main-content .requested-content-account form .form-grid span#birthselect {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 14;
	grid-row-end: 16;
	display: block;
    width: 80%;
	height: 50%;
	margin: auto;
	padding: 10px;
	margin: auto;
	background-color: white;
	display: flex;
  	justify-content: flex-start;
  	align-items: center;
  	color: white;
  	background-color: rgb(212, 160, 160);
  	font-family: 'Dela Gothic One', cursive;
	font-size: 20px;
}

.viewgrid .main-content .requested-content-account form .form-grid input#birthdate {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 14;
	grid-row-end: 16;
	text-align: center;
}

.viewgrid .main-content .requested-content-account form .form-grid input#deleteAccount {
	display: block;
	background-color: rgb(26, 24, 24);
	color: white;
	border: none;
	cursor: pointer;
	grid-row-start: 18;
	grid-row-end: 20;
	grid-column-start: 1;
	grid-column-end: 2;
	height: 100%;
}

.viewgrid .main-content .requested-content-account form .form-grid input#submitbtn {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 18;
	grid-row-end: 20;
	text-align: center;
	height: 100%;
	background-color: rgb(26, 24, 24);
	color: white;
	cursor: pointer;
}

.viewgrid .main-content .requested-content-history {
	position: static;
	background-color: rgb(212, 160, 160);
	display: none;
	width: 100%;
	height: 655px;
	grid-column-start: 8;
	grid-column-end: 15;
	grid-row-start: 2;
	grid-row-end: 10;
	border: 1px solid black;
	border-radius: 15px;
	overflow: auto;
	position: relative;
}

.viewgrid .main-content .requested-content-history div.str{
	position: relative;
	box-sizing: border-box;
	width: 80%;
	height: 100px;
	display: grid;
	grid-template-columns: 5fr 2fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid black;
	margin: auto;
	background-color: #ffe5d9;
	border-radius: 15px;
}

.viewgrid .main-content .requested-content-history div.str span{
	box-sizing: border-box;
	width: 85%;
	height: 85%;
	margin: 5px;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	border: 2px solid white;
	font-size: 20px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #ffab73;
	border-radius: 15px;
}


.viewgrid .main-content .requested-content-history div.str a{
	box-sizing: border-box;
	width: 50%;
	height: 50%;
	margin: 5px;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	border: 2px solid #b84d69;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 224, 224);
	font-size: 25px;
	text-decoration: none;
	color: #b84d69;
	border-radius: 15px;
}

.viewgrid .main-content .requested-content-history div.str a:hover{
	background-color: #b84d69;
	color: white;
}

.viewgrid .main-content .requested-content-tried {
	box-sizing: border-box;
	background-color: rgb(212, 160, 160);
	display: none;
	width: 100%;
	height: 655px;
	grid-column-start: 8;
	grid-column-end: 15;
	grid-row-start: 2;
	grid-row-end: 10;
	border: 1px solid black;
	border-radius: 15px;
	overflow: auto;
	position: relative;
}

.viewgrid .main-content .requested-content-tried div.card {
	width: 190px;
	height: 190px;
	box-sizing: border-box;
	border: 1px solid black;
	display: inline-block;
	margin-bottom: 10px;
}

.viewgrid .main-content .requested-content-tried div.card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.viewgrid .main-content .requested-content-tried div.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.viewgrid .main-content .requested-content-tried div.card .flip-card-inner .flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #bbb;
  color: black;
}


.viewgrid .main-content .requested-content-tried div.card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(26, 24, 24);
  color: white;
  transform: rotateY(180deg);
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.viewgrid .main-content .requested-content-tried div.card .flip-card-inner .flip-card-front img {
	width: 100%;
	height: 100%;
	display: block;
}

.viewgrid .main-content .requested-content-tried div.card .flip-card-inner .flip-card-back a {
	text-decoration: none;
	color: white;
}

.viewgrid .main-content .requested-content-tried div.card .flip-card-inner .flip-card-back a:hover {
	text-decoration: underline;
}


.viewgrid .main-content .requested-content-added {
	box-sizing: border-box;
	background-color: rgb(212, 160, 160);
	display: none;
	width: 100%;
	height: 655px;
	grid-column-start: 8;
	grid-column-end: 15;
	grid-row-start: 2;
	grid-row-end: 10;
	border: 1px solid black;
	border-radius: 15px;
	overflow: auto;
	position: relative;
}

.viewgrid .main-content .requested-content-added div.card {
	width: 190px;
	height: 190px;
	box-sizing: border-box;
	border: 1px solid black;
	display: inline-block;
	margin-bottom: 10px;
}

.viewgrid .main-content .requested-content-added div.card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.viewgrid .main-content .requested-content-added div.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.viewgrid .main-content .requested-content-added div.card .flip-card-inner .flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #bbb;
  color: black;
}


.viewgrid .main-content .requested-content-added div.card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(26, 24, 24);
  color: white;
  transform: rotateY(180deg);
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.viewgrid .main-content .requested-content-added div.card .flip-card-inner .flip-card-front img {
	width: 100%;
	height: 100%;
	display: block;
}

.viewgrid .main-content .requested-content-added div.card .flip-card-inner .flip-card-back a {
	text-decoration: none;
	color: white;
}

.viewgrid .main-content .requested-content-added div.card .flip-card-inner .flip-card-back a:hover {
	text-decoration: underline;
}

/*
.viewgrid .main-content .requested-content-tried div.card:nth-last-child(1) {
	right: 18.5%;
	position: relative;
}

.viewgrid .main-content .requested-content-tried div.card:nth-last-child(2) {
	right: 12.3%;
	position: relative;
}

.viewgrid .main-content .requested-content-tried div.card:nth-last-child(3) {
	position: relative;
	right: 6.2%;
}
*/