body {
	border: 0px;
	margin: 0px;
	background-color: rgb(254,209,114);
}

.hamburger_up {
	z-index: 12;
	position: relative;
	top: -300px;
	width: 280px;
	height: 180px;
	border-radius: 53% 47% 51% 49% / 69% 73% 27% 31%;
	background-color: rgb(243,148,55);
	border: 7px solid rgba(103,55,13,100%);
	animation-name: burger_up_keyframe;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-delay: 1.25s;
}
/*
@keyframes eyes_dot_left_keyframe {
	0% { left: 143px; }
	50% {left: 155px; }
	100% {left: 143px;}

}

@keyframes eyes_dot_right_keyframe {
	0% { left: 53px; }
	50% {left: 63px; }
	100% {left: 53px;}

}
*/
@keyframes burger_up_keyframe {
	from {top : -300px;}
	to {top: 310px;}
}


.hamburger_shade {
	z-index: 1;
	position: absolute;
	left: 37px;
	background-color: rgb(247,168,70);
	border-radius: 49% 51% 55% 45% / 50% 79% 21% 50% ;
	width: 240px;
	height: 150px;
}

.seed {
	background-color: rgb(251,238,135);
	z-index: 2;
	position: absolute;
}

.seed.seed-1 {
	width: 15px;
	height: 8px;
	border-radius: 32% 68% 50% 50% / 50% 35% 65% 50%;
	left: 100px;
	top: 30px;
}

.seed.seed-2 {
	width: 15px;
	height: 7px;
	border-radius: 21% 79% 71% 29% / 50% 35% 65% 50%;
	left: 150px;
	top: 35px;
}

.seed.seed-3 {
	width: 17px;
	height: 8px;
	border-radius: 65% 35% 24% 76% / 0% 48% 52% 100%;
	left: 140px;
	top: 15px;
}

.seed.seed-4 {
	width: 16px;
	height: 7px;
	border-radius: 61% 39% 72% 28% / 0% 100% 0% 100%;
	left: 170px;
	top: 18px;
}

.seed.seed-5 {
	width: 15px;
	height: 7px;
	border-radius: 48% 52% 76% 24% / 48% 58% 42% 52%;
	left: 197px;
	top: 21px;
}

.seed.seed-6 {
	width: 13px;
	height: 12px;
	border-radius: 9% 91% 0% 100% / 35% 72% 28% 65%;
	left: 230px;
	top: 24px;
}


.seed.seed-7 {
	width: 17px;
	height: 6px;
	border-radius: 9% 91% 57% 43% / 35% 83% 17% 65%;
	left: 210px;
	top: 38px;
}

.seed.seed-8 {
	width: 17px;
	height: 6px;
	border-radius: 9% 91% 77% 23% / 35% 100% 0% 65%;
	left: 185px;
	top: 45px;
}

.seed.seed-9 {
	width: 10px;
	height: 15px;
	border-radius: 80% 20% 100% 0% / 61% 27% 73% 39%;
	left: 127px;
	top: 28px;
}


.eyes {
	background-color: rgba(103,55,13);
	z-index: 2;
	width: 25px;
	height: 25px;
	position: absolute;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.eyes.eye-left {
	left: 50px;
	top: 50px;
}

.eyes.eye-right {
	left: 140px;
	top: 50px;
}

.dot-white {
	position: relative;
	width: 7px;
	height: 7px;
	background-color: white;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	z-index: 3;
}

.dot-white.dot-left {
	/*
	animation-name: eyes_dot_left_keyframe;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
	*/
	position: relative;
	left: 55px;
	top: 60px;
}

.dot-white.dot-right {
	/*	
	animation-name: eyes_dot_right_keyframe;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
	*/
	position: absolute;
	left: 145px;
	top: 60px;
}

.smile {
position: absolute;
left: 90px;
top: 80px;
width: 40px;
height: 40px;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
box-shadow: 0px 15px 0 0 rgb(103,55,13); 
}
 
.flush {
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	width: 35px;
	height: 15px;
	position: absolute;
	background-color: rgb(236,100,71);
}

.flush.flush-left {
	top: 90px;
	left: 30px;
}

.flush.flush-right {
	top: 90px;
	left: 155px;
}

.burger_down {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -300px;
	width: 280px;
	height: 180px;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	background-color: rgb(243,148,55);
	border: 7px solid rgba(103,55,13,100%);
	animation-name: burger_down_keyframe;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes burger_down_keyframe {
	0% {left : -1200px;}
	100% {left: 0px;}
} 

.light {
	position: static;
	width: 200px;
	height: 100px;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	background-color: rgb(247,168,70);
	position: absolute;
}

.salad-green {
	z-index: 5;
	position: absolute;
	width: 250px;
	height: 150px;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	background-color: rgb(142,187,73);
}

.salad {
	animation-name: salad_keyframe;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
	z-index: 6;
	position: relative;
	top: -800px;
	width: 250px;
	height: 150px;
	left: 15px;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	background-color: rgb(142,187,73);
	border: 7px solid rgba(103,55,13,100%);
}

@keyframes salad_keyframe {
	from {top : -800px;}
	to {top: -140px;}
} 

.salad-detail {
	z-index: 4;
	border: 7px solid rgba(103,55,13,100%);
	position: absolute;
	transform: rotate(20deg);
	top: 100px;
	width: 25px;
	height: 20px;
	border-radius: 25% 75% 70% 30% / 0% 0% 100% 100% ;
	background-color: rgb(142,187,73);
}

.salad-detail.salad-position-1 {
	transform: rotate(20deg);
	left: 0px;
	top: 100px;
}

.salad-detail.salad-position-2 {
	transform: rotate(0deg);
	left: 30px;
	top: 121px;
}

.salad-detail.salad-position-3 {
	transform: rotate(-5deg);
	left: 70px;
	top: 135px;
}

.salad-detail.salad-position-4 {
	transform: rotate(-19deg);
	left: 110px;
	top: 135px;
}

.salad-detail.salad-position-5 {
	transform: rotate(-25deg);
	left: 150px;
	top: 135px;
}

.salad-detail.salad-position-6 {
	transform: rotate(-20deg);
	left: 190px;
	top: 120px;
}
 
.salad-detail.salad-position-7 {
	transform: rotate(-35deg);
	left: 220px;
	top: 100px;
	border-radius: 25% 75% 23% 77% / 0% 0% 100% 100%;
}

.meat {
	position: relative;
	animation-delay: 0.75s;
	animation-name: meat_keyframe;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	z-index: 8;
	box-sizing: border-box;
	background-color: rgb(139,78,19);
	width: 250px;
	left: 23px;
	height: 180px;
	top: -600px;
	border-radius: 45% 55% 49% 51% / 49% 54% 46% 51% ;
	border: 7px solid rgba(103,55,13,100%);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
}

@keyframes meat_keyframe {
	from { top : -600px; }
	to { top: 5px; }
} 

@keyframes keep_keyframe {
	from { 	 }
	to {  }
}

.meat.meat_up {
	position: static;
	box-sizing: border-box;
	border: none;
	background-color: rgb(139,78,60);
	width: 200px;
	height: 130px;
	border-radius: 45% 55% 49% 51% / 49% 54% 46% 51% ;
}

.meat.meat_up.detail-1 {
	animation-delay: 1.75s;
	animation-name: keep_keyframe;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	position: relative;
	box-shadow: 0px -8px 0 0 rgb(103,55,13);
	width: 20px;
	height: 30px;
	left: -40px;
	top: 50px;
	background-color: none;
}

.meat.meat_up.detail-2 {
	animation-delay: 1.75s;
	animation-name: keep_keyframe;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	position: relative;
	box-shadow: 0px -8px 0 0 rgb(103,55,13);
	width: 20px;
	height: 30px;
	left: 40px;
	top: 28px;
	background-color: none;
}
.meat.meat_up.detail-3 {
	animation-delay: 1.75s;
	animation-name: keep_keyframe;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	position: relative;
	box-shadow: 0px -8px 0 0 rgb(103,55,13);
	width: 20px;
	height: 30px;
	left: -70px;
	top: 25px;
	background-color: none;
}
.meat.meat_up.detail-4 {
	animation-delay: 1.75s;
	animation-name: keep_keyframe;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	position: relative;
	box-shadow: 0px -8px 0 0 rgb(103,55,13);
	width: 20px;
	height: 30px;
	left: 70px;
	top: 0px;
	background-color: none;
}
.meat.meat_up.detail-5 {
	animation-delay: 1.75s;
	animation-name: keep_keyframe;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	position: relative;
	box-shadow: 0px -8px 0 0 rgb(103,55,13);
	width: 20px;
	height: 30px;
	left: 0px;
	top: 0px;
	background-color: none;
}

@keyframes cheese_keyframe {
	from { top : -500px; }
	to { top: 160px; }
} 

@keyframes keepTop_keyframe {
	from { top: 0px;	 }
	to {  top: 0px;  }
}


.cheese {
	top: -500px;
	z-index: 9;
	position: relative;
	animation-delay: 1s;
	animation-name: cheese_keyframe;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	left: 40px;
	width: 200px;
	height: 150px;
	background-color: rgb(253,215,23);
	border: 7px solid rgba(103,55,13,100%);
	border-radius: 48% 52% 49% 51% / 14% 15% 85% 86%;
}
.cheese.cheese-1{
	z-index: 10;
	animation-delay: 1s;
	animation-name: keepTop_keyframe;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	position: absolute;
	left: 0px;
	right: 0px;
	width: 200px;
	height: 150px;
	background-color: rgb(253,215,23);
	border: none;
	border-radius: 48% 52% 49% 51% / 14% 15% 85% 86%;
}

.cheese.left-cheese {
	animation-delay: 1s;
	animation-name: keepTop_keyframe;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	position: absolute;
	width: 200px;
	height: 150px;
	background-color: rgb(253,215,23);
	border: 7px solid rgba(103,55,13,100%);
	border-radius: 48% 52% 49% 51% / 14% 15% 85% 86%;
	transform: rotate(180deg);
	bottom: -10px;
	left: -5px;
}

.main {
	box-sizing: border-box;
	width: 100%;
	height: 80vh;
	position: relative;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.wrapper {
	position: relative;
	grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
	justify-content: center;
	align-items: center;
}

.side-left {
	position: relative;
	grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.side-right {
	position: relative;
	grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inside {
	position: relative;
	align-self: center;
}

@keyframes buttons { 
	from { visibility: hidden; }
	to { visibility: visible; }
}



div button
{
	animation-delay: 1.5s;
	animation-name: buttons;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	visibility: hidden;
	display: block;
    width: 200px;
    height: 50px;
    background-color: rgb(102, 51, 0);
    color: white; 
    padding: 12px 20px;
    border: 1px solid rgb(102, 51, 0);
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

div button:hover 
{
    background-color: rgb(254,209,114);
    color: #a74545;
    transform:scale(1.3,1.3);
} 

 