.footer 
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 7vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(212, 160, 160);
    color: white;
    text-align: center;
}

.footer div.center {
    grid-column-start: 2;
    grid-column-end: 3;
}

.footer div.right-side {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.termeni_si_conditii {
    margin-right: 0.5vw;
    text-decoration: none;
    color: white;
    font-size: 2vh;
}



.termeni_si_conditii:hover {
    color: #921CCD;
}

.copyright {
    margin-right: 0.5vw;
    font-size: 2vh;
}

.fa 
{  
    padding: 1vh;
    font-size: 3vh;
    width: 3vh;
    text-align: center;
    text-decoration: none;
    margin: 1vh;
    border-radius: 50%;
}

.fa:hover 
{
    opacity: 0.7;
}

.fa-facebook 
{
    color: white;
}

.fa-twitter 
{
    color: white;
}

.fa-instagram 
{
    color: white;
}
