<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>What food ? - Toate retele pe care le doresti!</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href = "https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel = "stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="recipePage.css">
	</head>
	<body>
		<div class="viewgrid">
			<div class="navbar">
				<div class="navbar-left">
					<a href="/feedPage.html"><img src="/Logo-final2.png" alt="logo picture"></a>
				</div>
			</div>
			
			<div class="content">
				<div class="title">
					<h1>Jam Pancakes</h1>
				</div>
				<img class="mainpicture" src="/Recipe4.jpg" alt="ceva">
				<div class="time">
					<p><strong>Prepping Time:</strong> 15 mins</p>
					<p><strong>Total Time:</strong> 20 mins</p>
				</div>
				<div class="titlu-text">
					<strong>Ingredients</strong>
				</div>
				<ul>
					<li><img src="/circle.png" alt="circle"><div>150 g powdered sugar</div></li>
					<li><img src="/circle.png" alt="circle"><div>800 g crema Hochland Crème classic cream cheese</div></li>
					<li><img src="/circle.png" alt="circle"><div>200 g sour cream for the whipped cream</div></li>
					<li><img src="/circle.png" alt="circle"><div>20 g gelatine</div></li>
					<li><img src="/circle.png" alt="circle"><div>300 g cocoa biscuits</div></li>
					<li><img src="/circle.png" alt="circle"><div>2 tablespoons cocoa powder</div></li>
					<li><img src="/circle.png" alt="circle"><div>150 g melted butter</div></li>
					<li><img src="/circle.png" alt="circle"><div>750 g berries</div></li>
					<li><img src="/circle.png" alt="circle"><div>100 ml water</div></li>
					<li><img src="/circle.png" alt="circle"><div>150 g sugar</div></li>
					<li><img src="/circle.png" alt="circle"><div>100 g flower</div></li>
				</ul>
				<div class="titlu-text">
					<strong>Instructions</strong>
				</div>
				<ol>
					<li><img src="/rulada-tiramisu-1.jpg" alt="photo"><div>To make the batter, combine flour, oats, baking powder, sweetener, and salt in a bowl. Add egg substitute, soymilk, and 2 tbsp. water. Mix well and set aside.</div></li>
					<li><img src="/rulada-tiramisu-2.jpg" alt="photo"><div>Place preserves in a microwave-safe bowl and nuke for 20 seconds, until softened and warm. Stir into pancake batter until thoroughly integrated.</div></li>
					<li><img src="/rulada-tiramisu-3.jpg" alt="photo"><div>Bring a skillet sprayed with nonstick spray to medium-high heat. Add half the batter to form a large pancake. Cook for 2 - 3 minutes, until pancake begins to bubble and is solid enough to flip. Gently flip and cook for an additional 1 - 2 minutes, until both sides are lightly browned and inside is cooked through. Plate your pancake and set aside.</div></li>
					<li><img src="/rulada-tiramisu-4.jpg" alt="photo"><div>Remove skillet from heat, re-spray, and return to medium-high heat. Repeat with remaining batter to make a second pancake, and then set that aside as well.</div></li>
					<li><img src="/rulada-tiramisu-5.jpg" alt="photo"><div>Put them all on a plate and spread some jam on top and the powdered sugar. Bon appetit!</div></li>
				</ol>
				<div class = "footer"> 
		    		<div class="center">
						<a href = "https://www.facebook.com/What-The-Food-104673701720853" class = "fa fa-facebook"></a>
		        		<a href = "https://twitter.com/WhatTheFood13" class = "fa fa-twitter"></a>
		        		<a href = "https://www.instagram.com/instawhatthefood/" class = "fa fa-instagram"></a>
		    		</div>
		    		<div class="right-side">
		    			<p class="copyright"> © 2021 WhaF. No rights reserved. </p>
		    			<a class="termeni_si_conditii" href="/termsPolicy.html">Terms and conditions.</a>
		    		</div>
		    	</div>
			</div>

    	</div>
		<script src = "recipePage.js"></script>
	</body>
</html>