li {
    list-style-type: none;
}

section ol li {
    list-style-type: circle;
}

body{
    margin: auto;
    max-width: 900px;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    color: #4b0061; 
}

h2 {
    border-bottom: 3px solid black;
}

body > h1{
    text-align: center;
}

img{
    max-width: 100vh;
    width: auto;
}


