*
{
    margin: 0px;
    padding: 0px;
}

body 
{
    background-color: rgb(255, 242, 242);
}

.grid-wrapper
{
    position: fixed;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr 2fr 3.5fr 3.5fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
}

.grid-wrapper .logo
{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
}

.format
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-view
{
    width: 200px;
    height: 200px;
}

.grid-wrapper .recipes
{
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
}

.recipes-view
{
    width: 360px;
    height: 360px;
}

.login
{
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 100%;
    height: 100%;
}

.login-box
{
    width: 30vw;
    height: 55vh;
    padding: 40px;
    box-shadow: 5px 5px 15px #af6464;
    background-color: rgb(255, 224, 224);
}

.account
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.sign-up
{
    background-color: rgb(255, 224, 224);
    color: #a74545;
    border: none;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight : bold;
    cursor: pointer;
}

.sign-up:hover
{
    color: rgb(212, 160, 160);
}

#Register
{
    display: none;
}

.register
{
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 100%;
    height: 100%;
}

.register-box
{
    width: 35vw;
    height: 95vh;
    padding: 40px;
    box-shadow: 5px 5px 15px #af6464;
    background-color: rgb(255, 224, 224);
}

h1
{
    font-family:'Times New Roman', Times, serif;
}

input[type = submit] 
{
    background-color: #a74545;
    color: rgb(255, 255, 255);
    padding: 22px 16px;
    border-radius: 4px;
    width: 45%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    transition: width 1s;
}

input[type = submit]:hover 
{
    background-color: rgb(0, 0, 0);
    width: 55%;
} 

input
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 90%;
    padding: 10px;
    border: 0;
    box-shadow: 3px 3px 10px rgb(209, 165, 165);
    border-radius: 10px;
}

.grid-wrapper .grid-footer
{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
}

.footer 
{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    left: 0;
    bottom: 0;
    background-color: rgb(212, 160, 160);
    color: white;
    text-align: center;
}

.footer div.center
{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div.right
{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.terms 
{
    margin-right: 15px;
    text-decoration: none;
    color: white;
}

.terms:hover 
{
    color: #a74545;
}

.copyright 
{
    margin-right: 15px;
}

.fa 
{
    padding: 1vh;
    font-size: 3vh;
    width: 3vh;
    text-align: center;
    text-decoration: none;
    margin: 1vh;
    border-radius: 50%;
}

.fa:hover 
{
    opacity: 0.7;
}

.fa-facebook 
{
    color: white;
}

.fa-twitter 
{
    color: white;
}

.fa-instagram 
{
    color: white;
}

/* responsive page */
@media screen and (max-width: 770px) 
{
    .grid-wrapper
    {
	    width: 100vw;
	    height: 100vh;
	    display: flex;
        justify-content: center;
        align-content: center;
    }

    .grid-wrapper .logo
    {
        display: none;
    }

    .grid-wrapper .recipes
    {
        display: none;
    }

    .login
    {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }   

    .login-box
    {
        width: 70vw;
        height: 63vh;
        padding: 40px;
        box-shadow: 5px 5px 15px #af6464;
        background-color: rgb(255, 224, 224);
    }

    .register
    {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .register-box
    {
        width: 70vw;
        height: 95vh;
        padding: 40px;
        box-shadow: 5px 5px 15px #af6464;
        background-color: rgb(255, 224, 224);
    }

    form 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    input[type = submit] 
    {
        background-color: #a74545;
        color: rgb(255, 255, 255);
        padding: 22px 16px;
        border-radius: 4px;
        width: 25vw;
        border: none;
        outline: none;
        text-align: center;
        cursor: pointer;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 17px;
        transition: width 1s;
    }

    .grid-wrapper .grid-footer
    {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: auto;
        height: 100%;
    }
    
    .footer 
    {
        position: fixed;
        width: 100%;
        height: 90px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        background-color: rgb(212, 160, 160);
        grid-gap: 0px;
        color: white;
        text-align: center;
        padding: 0px;
        margin: 0;
    }

    .footer div.right
    {
        width: 100%;
        height: 100%;
        margin-right: 0px;
        padding: 0px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .footer div.center 
    {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer div.right p 
    {
        width: 100%;
    }
    
    .footer div.right .terms 
    {
        display: block;
        width: auto;
        margin: 0px;
        text-decoration: none;
        color: white;
    }
    
    .footer div.right .copyright 
    {
        display: block;
        width: 100%;
        margin: 0px;
    }
}
