body 
{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255, 224, 224);
}

.logo-row 
{
    width: 190px;
    float: left;
}

.logo 
{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: -20px;
}

.container 
{ 
    height: 200px;
    position: relative;
    margin-top: -20px;
}
  
.center 
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button 
{
    background-color: #a74545;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.home 
{
    background-color: #af6464; 
    color: rgb(255, 255, 255); 
    border: 2px solid #af6464;
}

.home:hover 
{
    background-color: rgb(245, 245, 245);
    color: #af6464;
    border: 2px solid #af6464;
}

.account
{
    background-color: #af6464; 
    color: rgb(255, 255, 255); 
    border: 2px solid #af6464;
    float: right;
    margin-top: 73px;
}

.account:hover 
{
    background-color: rgb(245, 245, 245);
    color: #af6464;
    border: 2px solid #af6464;
}

.user
{
    display: block;
    margin-top: 15px;
}

.profile
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 4px;
    float: left;
}

.username
{
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    margin-top: -70px;
}

.info
{
    display: block;
    width: 100%;
}

.menu
{
    margin-left: 30%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.nav
{
    margin-top: 200px;
    background-color: rgb(201, 149, 149);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 35%;
}

.nav:hover 
{
    background-color: #111;
}

.content
{
    color: rgb(5, 2, 2);
    display: none;
    padding: 250px 20px;
    height: 50%;
}

#Added 
{
    text-align: center;
}

#Tried 
{
    text-align: center;
}

.grid-wrapper
{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 15px;
}

.grid-item 
{
    margin: 20px;
    width: 310px;
    height: 310px;
}

.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 39px;
    background-color: rgb(212, 160, 160);
    color: white;
    text-align: center;
}

.fa 
{
    padding: 11px;
    font-size: 11px;
    width: 11px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover 
{
    opacity: 0.7;
}

.fa-facebook 
{
    background: #3B5998;
    color: white;
}

.fa-twitter 
{
    background: #55ACEE;
    color: white;
}

.fa-instagram 
{
    background: #125688;
    color: white;
}